body {
    background-color:rgba(255, 217, 0, 0.626);
}

#container {
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
    text-align: center;
    width: 50vh;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.663);
    color: white;
}

#operand1, #operand2 {
    margin-top: 30px;
    width: 60px;
}
#operator {
    width: 30px;
}


button {
    background-color:gold;
    color: rgba(0, 0, 0, 0.663);
}
